<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.dby.dao.accountMapper" >

	<!--查询用户所有记录  -->
  	<select id="getRecord" resultType="com.p2p.qiyun.dby.pojo.account" parameterType="com.p2p.qiyun.dby.pojo.account">
  		select * from account where userid=#{userid} and recordtime BETWEEN #{startTime} and #{endTime} 
  	</select>
  	
  	
  	<!--根据时间查询用户充值记录  -->
  	<select id="getRecordChongzhi" resultType="com.p2p.qiyun.dby.pojo.account" parameterType="com.p2p.qiyun.dby.pojo.account">
  		select * from account where userid=#{userid} and record like CONCAT('%',#{record},'%') and recordtime BETWEEN #{startTime} and #{endTime}
  		
  	</select>
  	
  	<!--根据时间查询用户提现记录  -->
  	<select id="getRecordTixian" resultType="com.p2p.qiyun.dby.pojo.account" parameterType="com.p2p.qiyun.dby.pojo.account">
  		select * from account where userid =#{userid} and record like CONCAT('%',#{record},'%') and recordtime BETWEEN #{startTime} and #{endTime}
  	</select>
  	
  	<!-- 根据id查询姓名 -->
  	 <select id="getUserName" resultType="com.p2p.qiyun.dby.pojo.account" parameterType="com.p2p.qiyun.dby.pojo.account">
  		select * from userinfo where userid =#{userid} 
  	</select>
  	
  	
  	<!-- 添加充值记录 -->
  	<insert id="recordChongzhi" parameterType="com.p2p.qiyun.dby.pojo.account" >
		insert account(userid,username,record,recordtime) values(#{userid},#{username},#{record},DEFAULT)
	</insert>
  	
  	<!-- 添加余额 -->
  	<update id="tianjiayue" parameterType="com.p2p.qiyun.dby.pojo.balance">
  		update balance set balance=balance+#{balance} where userid=#{userid}
  	</update>
  	
  	<!-- 查询支付密码及余额  -->
  	<select id="getPayPwd" parameterType="com.p2p.qiyun.dby.pojo.balance" resultType="com.p2p.qiyun.dby.pojo.balance">
  		select * from balance where userid=#{userid}
  	</select>
  	
  	
  	<!-- 减少余额 -->
  	<update id="jianshaoyue" parameterType="com.p2p.qiyun.dby.pojo.balance">
  		update balance set balance=balance-#{balance} where userid=#{userid}
  	</update>
  	
  	<!-- 添加提现记录 -->
  	<insert id="recordTixian" parameterType="com.p2p.qiyun.dby.pojo.account" >
		insert into account(userid,username,record,recordtime) values(#{userid},#{username},#{record},DEFAULT)
	</insert>
</mapper>