<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.xsr.dao.CreditMapper_xsr" >
	<select id="phonechaxinxi" parameterType="String" resultType="com.p2p.qiyun.xsr.domain.userinfo">
		select * from  userinfo where phone=#{phone}
	</select>
  	<select id="kehuxinxi" parameterType="int" resultType="com.p2p.qiyun.xsr.domain.customer">
  		select * from customer  where userid=#{userid} ORDER BY customerid asc 
  	</select>
  	<select id="scdenglu" parameterType="String" resultType="String">
  		select scdate from scshijian where phone=#{phone} ORDER BY scid DESC 
  	</select>
  	<update id="shimingrz" parameterType="com.p2p.qiyun.xsr.domain.userinfo">
  		update userinfo set username=#{username},idnumber=#{idnumber} where phone=${phone}
  	</update>
  	<delete id="delecus" parameterType="int">
  		delete from customer where customerid=#{customerid}
  	</delete>
  	<update id="bangyou" parameterType="com.p2p.qiyun.xsr.domain.customer">
  		update customer set email=#{email} where customerid=#{customerid}
  	</update>  	
  	<update id="xiumi" parameterType="com.p2p.qiyun.xsr.domain.userinfo">
  		update userinfo set password=#{password} where phone=#{phone}
  	</update>
  	
  	<select id="kehuxinxi22" parameterType="int" resultType="com.p2p.qiyun.xsr.domain.customer">
  		select * from customer  where customerid=#{customerid} 
  	</select>
  	
  	<update id="bangyin" parameterType="com.p2p.qiyun.xsr.domain.customer">
  		update customer set bankname=#{bankname},bankid=#{bankid} where customerid=#{customerid}
  	</update>
  	
  	<update id="xiuxinyongfen" parameterType="com.p2p.qiyun.xsr.domain.customer">
  		update customer set creditrate=#{creditrate} where customerid=#{customerid}
  	</update>
  	
  	<select id="xioxichaxun" parameterType="int" resultType="com.p2p.qiyun.xsr.domain.xiaoxi">
  		select * from xiaoxi where userid=#{userid} ORDER BY sendtime desc
  	</select>
  	
  	<select id="chajiekuan" parameterType="int" resultType="com.p2p.qiyun.lsx.entity.Loan">		
		select * from loan where userid=#{userid}  		
  	</select>
  	
  	<select id="chahuankuan" parameterType="int" resultType="com.p2p.qiyun.xsr.domain.paymenthistory">
			select * from paymenthistory where userid=#{userid}
  	</select>

	<insert id="chaduihuatext" parameterType="com.p2p.qiyun.xsr.domain.kefuinfo">
		insert into kefuinfo(userid,uid,kfnr,qiuid) VALUES(#{userid},#{uid},#{kfnr},#{qiuid})
	</insert>
  	
  	<select id="chatextuser" parameterType="int" resultType="com.p2p.qiyun.xsr.domain.kefuinfo">
  		select a.* from kefuinfo a,yesnoqiu b where a.qiuid=b.qiuid and a.userid=#{userid} and b.yesno='yes'
  	</select>
  	
  	<select id="chakfu" parameterType="int" resultType="com.p2p.qiyun.dyj.pojo.Users">
  		select * from users where uid=#{uid}
  	</select>
  	
  	<select id="setousrc" parameterType="int" resultType="String">
  		select user_src from touxiang where userid = #{userid}
  	</select>
  	
  	<update id="updasrc" parameterType="com.p2p.qiyun.xsr.domain.touxiang">
  		update touxiang set user_src=#{user_src} where userid = #{userid}
  	</update>
  	
  	<update id="xiunicheng" parameterType="com.p2p.qiyun.xsr.domain.userinfo">
  		update userinfo set nickname=#{nickname} where userid=#{userid}
  	</update>
  	
  	<insert id="addtoux" parameterType="int" >
  		insert into touxiang(userid,user_src) values(#{userid},'logo.png')
  	</insert>
  	
  	<update id="addsfzzp" parameterType="com.p2p.qiyun.xsr.domain.usersfz">
  		insert into usersfz(userid,user_srcz,user_srcf) values(#{userid},#{user_srcz},#{user_srcf})
  	</update>

	<insert id="addbalance" parameterType="int">
		insert into balance(userid,payPwd) values(#{userid},'123456')
	</insert>
	
	<select id="sebalance" parameterType="int" resultType="com.p2p.qiyun.dby.pojo.balance">
		select * from balance where userid=#{userid}
	</select>
	
	<select id="chaxunqingqiu" resultType="com.p2p.qiyun.xsr.domain.userinfo">
		select * from  userinfo where userid in 
		<foreach collection="list" close=")" item="v" open="(">
			#{v}
		</foreach>
	</select>
	
	<update id="upzfmm" parameterType="com.p2p.qiyun.dby.pojo.balance">		
			update balance set payPwd=#{payPwd} where userid=#{userid}
	</update>
	
	<insert id="charuxiaoxi" parameterType="com.p2p.qiyun.xsr.domain.xiaoxi">
			insert into xiaoxi(userid,msgcontext) values(#{userid},#{msgcontext})
	</insert>
  	
</mapper>