<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.hjh.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.p2p.qiyun.hjh.entity.Customer" >
    <id column="customerid" property="customerid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="custometype" property="custometype" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="VARCHAR" />
    <result column="creditrate" property="creditrate" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKeys" resultType="com.p2p.qiyun.hjh.entity.Customer" parameterType="java.lang.Integer">
  select*from customer where userid=#{userid}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    customerid, userid, custometype, email, bankname, bankid, creditrate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.p2p.qiyun.hjh.entity.CustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where customerid = #{customerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where customerid = #{customerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.p2p.qiyun.hjh.entity.CustomerExample" >
    delete from customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.p2p.qiyun.hjh.entity.Customer" >
    insert into customer (customerid, userid, custometype, 
      email, bankname, bankid, 
      creditrate)
    values (#{customerid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{custometype,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{bankid,jdbcType=VARCHAR}, 
      #{creditrate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.p2p.qiyun.hjh.entity.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        customerid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="custometype != null" >
        custometype,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="bankid != null" >
        bankid,
      </if>
      <if test="creditrate != null" >
        creditrate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="custometype != null" >
        #{custometype,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="creditrate != null" >
        #{creditrate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.p2p.qiyun.hjh.entity.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customer
    <set >
      <if test="record.customerid != null" >
        customerid = #{record.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.custometype != null" >
        custometype = #{record.custometype,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null" >
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.bankid != null" >
        bankid = #{record.bankid,jdbcType=VARCHAR},
      </if>
      <if test="record.creditrate != null" >
        creditrate = #{record.creditrate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update customer
    set customerid = #{record.customerid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      custometype = #{record.custometype,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      bankid = #{record.bankid,jdbcType=VARCHAR},
      creditrate = #{record.creditrate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.p2p.qiyun.hjh.entity.Customer" >
    update customer
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="custometype != null" >
        custometype = #{custometype,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        bankid = #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="creditrate != null" >
        creditrate = #{creditrate,jdbcType=VARCHAR},
      </if>
    </set>
    where customerid = #{customerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.p2p.qiyun.hjh.entity.Customer" >
    update customer
    set userid = #{userid,jdbcType=INTEGER},
      custometype = #{custometype,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      creditrate = #{creditrate,jdbcType=VARCHAR}
    where customerid = #{customerid,jdbcType=INTEGER}
  </update>
</mapper>