<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.lsx.dao.IdVerificationMapper" >
  	<select id="useridVerification" resultType="com.p2p.qiyun.wzr.domain.Userinfo" parameterType="java.lang.Integer">
  	SELECT * from userinfo where userid=#{userid}
  	
  	</select>
  	<select id="findBalance" resultType="com.p2p.qiyun.lsx.entity.Balance2" parameterType="java.lang.Integer">
     	select * from Balance where userid=#{userid}
  	</select>
  	
  	<select id="findCustomer" resultType="com.p2p.qiyun.hjh.entity.Customer" parameterType="java.lang.Integer">
  	select * from customer where userid=#{userid}
  	</select>
</mapper>