<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.lsx.dao.Loan2Mapper" >
  	<insert id="AddLoans" parameterType="com.p2p.qiyun.lsx.entity.Loan2">
  	      INSERT into loan(userid,loanrate,loanamount,repaymentperiod) VALUES
          (#{userid},#{loanrate},#{loanamount},#{repaymentperiod})
  	</insert>
  	
  	
  	<select id="selLoansById" parameterType="int" resultType="com.p2p.qiyun.lsx.entity.Loan2">
  		select * from loan where loanid=#{loanid}
  	</select>
</mapper>