<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.qiyun.lsx.dao.Loan2Mapper" >
  	<insert id="AddLoans" parameterType="com.p2p.qiyun.lsx.entity.Loan2">
  	      INSERT into loan(userid,loanrate,loanamount,repaymentperiod) VALUES
          (#{userid},#{loanrate},#{loanamount},#{repaymentperiod})
  	</insert>
 
 <insert id="AddRepayment2" parameterType="com.p2p.qiyun.lsx.entity.Repayment2">
  	      INSERT into Repayment(loanid,userid,rterest,returnallmoney,returnperiod) VALUES
          (#{loanid},#{userid},#{rterest},#{returnallmoney},#{returnperiod})
  	</insert>
  	<insert id="AddPaymenthistory2" parameterType="com.p2p.qiyun.lsx.entity.Paymenthistory2">
  	      INSERT into Paymenthistory(repaymentid,userid,loanid,currentrepayment,storydate) VALUES
          (#{repaymentid},#{userid},#{loanid},#{currentrepayment},#{storydate})
  	</insert>
    <update id="Upbalace" parameterType="com.p2p.qiyun.lsx.entity.Balance2" >
      UPDATE  balance set balance=#{balance} where userid=#{userid}
    </update>
    <!-- 还款表修改 -->
   <update id="upRepayment" parameterType="com.p2p.qiyun.lsx.entity.Repayment2"  >
    UPDATE  repayment set
    rdate=#{rdate},modmoney=modmoney+#{modmoney} 
    WHERE userid=#{userid} 
   </update>
   <!-- 修改还款期数-->
   <update id="upReturnperiod" parameterType="int">
      UPDATE  repayment set returnperiod=(returnperiod+1),
    returnperiodp=(returnperiodp-1) WHERE userid=#{userid} 
   </update>
   
 
   <!-- 显示已还款 -->
   <update id="upthis" parameterType="com.p2p.qiyun.lsx.entity.Paymenthistory2" >
      UPDATE  paymenthistory set storydatep=#{storydatep},todayMoneys=todayMoneys+#{todayMoneys}
      WHERE userid=#{userid}  AND recordid=#{recordid}<!-- storydate=#{storydate} -->
   </update>
   
   <!-- 修改成已还 -->
   <update id="upPaymentstatus" parameterType="com.p2p.qiyun.lsx.entity.Paymenthistory2" >
      UPDATE  paymenthistory set paymentstatus=1
      WHERE userid=#{userid}  AND recordid=#{recordid}
   </update>
   
     <select id="findJine" parameterType="com.p2p.qiyun.lsx.entity.Paymenthistory2" resultType="com.p2p.qiyun.lsx.entity.Paymenthistory2">
       select * from paymenthistory where userid=#{userid}  AND recordid=#{recordid}
     </select>
     
    	<select id="selLoansById" parameterType="int" resultType="com.p2p.qiyun.lsx.entity.Loan2">
  	    	select * from loan where loanid=#{loanid}
  		</select> 
  	<select id="selctloan" parameterType="com.p2p.qiyun.lsx.entity.Loan2" resultType="com.p2p.qiyun.lsx.entity.Loan2">
  	   SELECT *FROM loan  WHERE userid=#{userid}
  	   <!-- and loanid=#{loanid} --><!--  AND DATE_FORMAT(  applicationdate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) -->
  	   
  	</select>
  	<!-- 判断年龄 -->
  	<select id="SelectAge"  resultType="com.p2p.qiyun.lsx.entity.Loan2" parameterType="int">
  	 SELECT * FROM  userinfo u  
     where  u.userid=#{userid} and ( YEAR  (now()) - YEAR (substring(u.idnumber, 7, 8)) >18 OR
     YEAR (now()) - YEAR (substring(u.idnumber, 7, 8)) =18 )

  	 
  	</select>
  	
  	<!-- 单月日期 -->
  	<select id="getDatetoday" resultType="com.p2p.qiyun.lsx.entity.Paymenthistory2" parameterType="int" >
  	   SELECT *FROM paymenthistory  WHERE userid=#{userid}  AND DATE_FORMAT(storydate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
  	   
  	</select>
  	
  	<!-- 根据下个月 -->
  	<select id="getDatenextmonth" resultType="com.p2p.qiyun.lsx.entity.Paymenthistory2" parameterType="int">
  	   SELECT *FROM paymenthistory  WHERE userid=#{userid}  AND
       DATE_FORMAT(  storydate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )+1
  	   
  	</select>
  	
  	<select id="getDates" resultType="com.p2p.qiyun.lsx.entity.Paymenthistory2" >
  	   SELECT *FROM paymenthistory  WHERE userid=#{userid}
  	   
  	</select>
  	<select id="selctRepayment" parameterType="com.p2p.qiyun.lsx.entity.Repayment2" resultType="com.p2p.qiyun.lsx.entity.Repayment2">
  	   SELECT *FROM repayment  WHERE userid=#{userid}
  	    <!-- and loanid=#{loanid} --> <!--  AND DATE_FORMAT(rdate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) -->
  	   
  	</select>
  	
  	<select id="selctRepaymentNext" parameterType="com.p2p.qiyun.lsx.entity.Repayment2" resultType="com.p2p.qiyun.lsx.entity.Repayment2">
  	   SELECT *FROM repayment  WHERE userid=#{userid}
  	  <!--   and loanid=#{loanid} --> <!--  AND DATE_FORMAT(rdate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )+1 -->
  	   
  	</select>
</mapper>